Repository centreon/centreon-documentation, pull requests merged in 2020-10, with the labels that each got.

#342 enh(epp) hardware storage lenovo iomega snmp monitoring procedure FR
  fr/integrations/plugin-packs/procedures/hardware-storage-lenovo-iomega-snmp.md
  fr/sidebars.json
Labels: documentation, pack-monitoring-proc

#322 enh(mp) Migrate virtualization-vmware2-vcenter-5 to v2
  en/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-5.md
Labels: documentation, pack-monitoring-proc

#321 enh(mp) Migrate virtualization-vmware2-vcenter-6 to v2
  en/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-6.md
Labels: documentation, pack-monitoring-proc

#359 Enh(mp)cloud microsoft office365 onedrive monitoring proc v2
  en/integrations/plugin-packs/procedures/cloud-microsoft-office365-onedrive.md
Labels: documentation, pack-monitoring-proc

#339 new(mp) IBM Bladecenter SNMP Monitoring Procedure
  en/integrations/plugin-packs/procedures/network-ibm-bladecenter-snmp.md
  fr/integrations/plugin-packs/procedures/network-ibm-bladecenter-snmp.md
Labels: documentation, pack-monitoring-proc

#340 new(mp) Lenovo Flexsystem SNMP Monitoring Procedure
  en/integrations/plugin-packs/procedures/network-lenovo-flexsystem-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-lenovo-flexsystem-snmp.md
  fr/sidebars.json
Labels: documentation, pack-monitoring-proc

#323 new(mp) Versa Packs Monitoring Procedure
  en/integrations/plugin-packs/procedures/network-versa-director-restapi.md
  en/integrations/plugin-packs/procedures/network-versa-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-versa-director-restapi.md
  fr/integrations/plugin-packs/procedures/network-versa-snmp.md
  fr/sidebars.json
Labels: documentation, pack-monitoring-proc

#355 new(mp) New DRBD SSH Monitoring Procedure [FR]
  fr/integrations/plugin-packs/procedures/applications-drbd-ssh.md
  fr/sidebars.json
Labels: documentation, pack-monitoring-proc

#363 new(mp) DRBD SSH Monitoring Procedure
  en/integrations/plugin-packs/procedures/applications-drbd-ssh.md
  en/sidebars.json
Labels: documentation, pack-monitoring-proc

#377 enh(graph): improve graph template doc about base 1000/1024
  en/metrology/chart_template.md
  fr/metrology/chart_template.md
Labels: area/backend

#388 feat(upgrade/update): align procedures for 20.10
  en/migrate/introduction.md
  en/migrate/migrate-from-3-4.md
  en/sidebars.json
  en/update/update-centreon-platform.md
  en/upgrade/upgrade-from-18-10.md
  en/upgrade/upgrade-from-19-04.md
  en/upgrade/upgrade-from-19-10.md
  en/upgrade/upgrade-from-20-04.md
  en/upgrade/upgrade-from-3-4.md
  fr/migrate/introduction.md
  fr/migrate/migrate-from-3-4.md
  fr/migrate/poller-display-to-remote-server.md
  fr/sidebars.json
  fr/update/update-centreon-platform.md
  fr/upgrade/upgrade-from-18-10.md
  fr/upgrade/upgrade-from-19-04.md
  fr/upgrade/upgrade-from-19-10.md
  fr/upgrade/upgrade-from-20-04.md
  fr/upgrade/upgrade-from-3-4.md
Labels: 20.10

#391 new(mp) : New Dell OS10 SNMP Monitoring Procedure [EN]
  en/integrations/plugin-packs/procedures/network-dell-os10-snmp.md
  en/sidebars.json
Labels: documentation, pack-monitoring-proc

#390 new(mp) : New Dell OS10 SNMP Monitoring Procedure [FR]
  fr/integrations/plugin-packs/procedures/network-dell-os10-snmp.md
  fr/sidebars.json
Labels: documentation, pack-monitoring-proc

#382 new(mp) : New VerneMQ RestAPI Monitoring Procedure [EN]
  en/integrations/plugin-packs/procedures/applications-vernemq-restapi.md
  en/sidebars.json
Labels: documentation, pack-monitoring-proc

#380 new(mp): New VerneMQ Restapi Monitoring Procedure [FR]
  fr/integrations/plugin-packs/procedures/applications-vernemq-restapi.md
  fr/sidebars.json
Labels: documentation, pack-monitoring-proc

#376 new(mp) : New Cisco Callmanager SXML Monitoring Procedure [EN]
  en/integrations/plugin-packs/procedures/network-cisco-callmanager-sxml.md
  en/sidebars.json
Labels: documentation, pack-monitoring-proc

#375 new (mp) : New Cisco Callmanager SXML Monitoring Procedure [FR]
  fr/integrations/plugin-packs/procedures/network-cisco-callmanager-sxml.md
  fr/sidebars.json
Labels: documentation, pack-monitoring-proc

#392 release(gorgone): prepare 20.04.6 release notes
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.04, 20.10

#398 enh(setup) add full mariadb config
  en/installation/installation-of-a-central-server/using-packages.md
  fr/installation/installation-of-a-central-server/using-packages.md
Labels: approved-but-do-not-merge

#397 enh(centreon-ha)4-nodes-setup_and_upgrade_from_centreon-failover
  en/administration/centreon-ha/installation-4-nodes.md
  en/administration/centreon-ha/upgrade-from-centreon-failover.md
  en/sidebars.json
  fr/administration/centreon-ha/installation-4-nodes.md
  fr/administration/centreon-ha/upgrade-from-centreon-failover.md
  fr/sidebars.json
Labels: 20.04, 20.10

#396 update(procedure): dlink standard snmp
  en/integrations/plugin-packs/procedures/network-dlink-standard-snmp.md
  fr/integrations/plugin-packs/procedures/network-dlink-standard-snmp.md
Labels: 20.04, 20.10, pack-monitoring-proc

#395 add(epp): Google Gsuite monit proc
  en/integrations/plugin-packs/procedures/applications-google-gsuite-api.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-google-gsuite-api.md
  fr/sidebars.json
Labels: 20.04, 20.10, pack-monitoring-proc

#336 enh(epp) elasticsearch monitoring proc v2
  en/integrations/plugin-packs/procedures/applications-databases-elasticsearch.md
  fr/integrations/plugin-packs/procedures/applications-databases-elasticsearch.md
Labels: 20.04, 20.10, documentation, pack-monitoring-proc

#354 enh(registrer): Add registration of servers
  en/graph-views/install.md
  en/installation/installation-of-a-poller/using-centreon-iso.md
  en/installation/installation-of-a-poller/using-packages.md
  en/installation/installation-of-a-remote-server/using-centreon-iso.md
  en/installation/installation-of-a-remote-server/using-packages.md
  en/migrate/poller-display-to-remote-server.md
  en/reporting/installation.md
  fr/graph-views/install.md
  fr/installation/installation-of-a-poller/using-centreon-iso.md
  fr/installation/installation-of-a-poller/using-packages.md
  fr/installation/installation-of-a-remote-server/using-centreon-iso.md
  fr/installation/installation-of-a-remote-server/using-packages.md
  fr/migrate/poller-display-to-remote-server.md
  fr/reporting/installation.md
Labels: 20.10

#402 enh(install): add a note about autodiscovery module on remote server
  en/installation/installation-of-a-remote-server/using-centreon-iso.md
  en/installation/installation-of-a-remote-server/using-packages.md
  fr/installation/installation-of-a-remote-server/using-centreon-iso.md
  fr/installation/installation-of-a-remote-server/using-packages.md
Labels: 20.10

#399 enh(release): Add 20.10 RN Introduction
  en/assets/monitoring/discovery/host_disco_intro.png
  en/assets/monitoring/resources_status_1.png
  en/releases/introduction.md
  fr/assets/monitoring/discovery/host_disco_intro.png
  fr/assets/monitoring/resources_status_1.png
  fr/releases/introduction.md
Labels: 20.10

#403 release(os-extensions): prepare release notes
  en/releases/centreon-os-extensions.md
  fr/releases/centreon-os-extensions.md
Labels: 20.10

#404 release(core): prepare release notes
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.10

#405 release(commercial-extensions): prepare release notes
  en/releases/centreon-commercial-extensions.md
  fr/releases/centreon-commercial-extensions.md
Labels: 20.10

#407 enh(install): move to 20.10 centreon-release
  en/graph-views/install.md
  en/graph-views/upgrade.md
  en/installation/installation-of-a-central-server/using-packages.md
  en/installation/installation-of-a-poller/using-packages.md
  en/installation/installation-of-a-remote-server/using-packages.md
  en/integrations/plugin-packs/procedures/operatingsystems-linux-nrpe3.md
  en/reporting/installation.md
  fr/graph-views/install.md
  fr/graph-views/upgrade.md
  fr/installation/installation-of-a-central-server/using-packages.md
  fr/installation/installation-of-a-poller/using-packages.md
  fr/installation/installation-of-a-remote-server/using-packages.md
  fr/integrations/plugin-packs/procedures/operatingsystems-linux-nrpe3.md
  fr/reporting/installation.md
Labels: 20.10

#408 enh(upgrade/update): update screenshots
  en/assets/upgrade/web_update_3.png
  en/assets/upgrade/web_update_4.png
  en/assets/upgrade/web_update_5.png
  fr/assets/upgrade/web_update_3.png
  fr/assets/upgrade/web_update_4.png
  fr/assets/upgrade/web_update_5.png
Labels: 20.10

#410 fix(update): Add missing repo to update a poller to 20.10
  en/update/update-centreon-platform.md
  fr/update/update-centreon-platform.md
Labels: 20.10

#409 enh(commercial-extensions): release note Centreon Map 20.10
  en/assets/graph-views/ng/configuration-ng-server-map.png
  en/assets/graph-views/ng/connected-server-container.png
  en/assets/graph-views/ng/connected-server-ng-container.png
  en/assets/graph-views/ng/sync-ng-steps-ui.png
  en/graph-views/install.md
  en/graph-views/release-notes.md
  en/graph-views/upgrade.md
  en/releases/centreon-commercial-extensions.md
  en/sidebars.json
  fr/assets/graph-views/ng/configuration-ng-server-map.png
  fr/assets/graph-views/ng/connected-server-container.png
  fr/assets/graph-views/ng/connected-server-ng-container.png
  fr/assets/graph-views/ng/sync-ng-steps-ui.png
  fr/graph-views/install.md
  fr/graph-views/release-notes.md
  fr/releases/centreon-commercial-extensions.md
  fr/sidebars.json
Labels: 20.10

#412 fix(doc): missing step to enable engine on startup
  en/installation/installation-of-a-poller/using-centreon-iso.md
  fr/installation/installation-of-a-poller/using-centreon-iso.md
Labels: 20.10

#332 enh(mp) Migrate Microsoft SCCM Monitoring Procedure to v2
  en/integrations/plugin-packs/procedures/applications-sccm-nsclient.md
  fr/integrations/plugin-packs/procedures/applications-sccm-nsclient.md
Labels: 20.04, 20.10, approved-but-do-not-merge, pack-monitoring-proc

#420 (enh): refacto vmware FR monitoring procedure
  fr/integrations/plugin-packs/procedures/virtualization-vmware2-esx.md
  fr/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-5.md
  fr/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-6.md
  fr/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-generic.md
  fr/integrations/plugin-packs/procedures/virtualization-vmware2-vm.md
Labels: 20.04, 20.10, approved-but-do-not-merge, pack-monitoring-proc

#422 (enh): refacto vmware EN monitoring procedure
  en/integrations/plugin-packs/procedures/virtualization-vmware2-esx.md
  en/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-generic.md
  en/integrations/plugin-packs/procedures/virtualization-vmware2-vm.md
Labels: 20.04, 20.10, approved-but-do-not-merge, pack-monitoring-proc

#423 fix(ha) wrong header resulting in wrong link
  en/administration/centreon-ha/installation-4-nodes.md
Labels: 20.04, 20.10, approved-but-do-not-merge

#417 release(autodiscovery): prepare 20.10.1 release notes
  en/releases/centreon-commercial-extensions.md
  fr/releases/centreon-commercial-extensions.md
Labels: 20.10

#325 release(web): Centreon Web 20.04.6 RN
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.04

#435 enh(release): prepare bam 20.04.4 release notes
  en/releases/centreon-commercial-extensions.md
  fr/releases/centreon-commercial-extensions.md
Labels: 20.04
