Repository centreon/centreon-documentation, pull requests merged in 2020-12, with the labels that each got.

#411 Update using-packages.md
  en/installation/installation-of-a-poller/using-packages.md
Labels: 20.10, documentation

#485 enh(epp): SCCM plugin needs the sccm admin console
  fr/integrations/plugin-packs/procedures/applications-sccm-nsclient.md
Labels: pack-monitoring-proc

#488 enh(release): prepare autodiscovery 20.10.2 release notes
  en/releases/centreon-commercial-extensions.md
  fr/releases/centreon-commercial-extensions.md
Labels: 20.10

#489 enh(release): prepare autodiscovery 20.04.7 release notes
  en/releases/centreon-commercial-extensions.md
  fr/releases/centreon-commercial-extensions.md
Labels: 20.04

#495 add(epp) rubrik-restapi-monitoring-proc
  en/integrations/plugin-packs/procedures/applications-rubrik-restapi.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-rubrik-restapi.md
  fr/sidebars.json
Labels: pack-monitoring-proc

#494 fix(epp): AWS SES monitoring proc typo
  en/integrations/plugin-packs/procedures/cloud-aws-ses.md
  fr/integrations/plugin-packs/procedures/cloud-aws-ses.md
Labels: approved-waiting-release

#492 add(epp): FortiAuthenticator monitoring procedure
  en/integrations/plugin-packs/procedures/network-fortinet-fortiauthenticator-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-fortinet-fortiauthenticator-snmp.md
  fr/sidebars.json
Labels: approved-waiting-release, pack-monitoring-proc

#491 add(epp): databases rrdtool
  en/integrations/plugin-packs/procedures/applications-databases-rrdtool.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-databases-rrdtool.md
  fr/sidebars.json
Labels: approved-waiting-release, pack-monitoring-proc

#472 enh(epp): markdown issues in the Gorgone monitoring procedure
  en/integrations/plugin-packs/procedures/applications-gorgone-restapi.md
  fr/integrations/plugin-packs/procedures/applications-gorgone-restapi.md
Labels: approved-waiting-release, pack-monitoring-proc

#471 enh(epp): improve oracle procedure
  en/integrations/plugin-packs/procedures/applications-databases-oracle.md
  fr/integrations/plugin-packs/procedures/applications-databases-oracle.md
Labels: pack-monitoring-proc

#478 Update operatingsystems-windows-nsclient-05-restapi.md
  en/integrations/plugin-packs/procedures/operatingsystems-windows-nsclient-05-restapi.md
Labels: pack-monitoring-proc

#461 add(epp): cisco dnac rest api
  en/integrations/plugin-packs/procedures/applications-cisco-dnac-restapi.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-cisco-dnac-api.md
  fr/sidebars.json
Labels: approved-waiting-release, pack-monitoring-proc

#459 add(epp): cisco firepower fmc rest api
  en/integrations/plugin-packs/procedures/network-cisco-firepower-fmc-restapi.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-cisco-firepower-fmc-restapi.md
  fr/sidebars.json
Labels: approved-waiting-release, pack-monitoring-proc

#443 fix(epp) error in the Plugin package name in Cloudfoundry monitoring procedure
  en/integrations/plugin-packs/procedures/cloud-cloudfoundry-api.md
Labels: approved-waiting-release, pack-monitoring-proc

#466 monitoring procedure dns service
  en/integrations/plugin-packs/procedures/applications-protocol-dns.md
Labels: approved-waiting-release, pack-monitoring-proc

#479 enh(release): prepare broker 20.10.2 release notes
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.10

#506 fix(typo): correct widgets.md
  fr/reporting/widgets.md
Labels: 20.04, 20.10, documentation

#499 doc(graphical-view): remove part of topology
  en/graph-views/install.md
  fr/graph-views/install.md
Labels: area/backend

#481 enh(release): prepare engine 20.04.8 release notes
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.04

#482 enh(release): prepare engine 20.10.1 release notes
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.10

#480 enh(release): prepare broker 20.04.11 release notes
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.04

#487 enh(release): prepare gorgone 20.10.1 release notes
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.10

#484 enh(release): prepare gorgone 20.04.8 release notes
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.04

#502 fix(pp): haclient group missing in centreon-ha monitoring procedure
  en/administration/centreon-ha/monitoring-guide.md
  en/integrations/plugin-packs/procedures/applications-monitoring-centreon-ha.md
  fr/administration/centreon-ha/monitoring-guide.md
  fr/integrations/plugin-packs/procedures/applications-monitoring-centreon-ha.md
Labels: pack-monitoring-proc

#503 fix(pp): haclient group missing in centreon-ha monitoring procedure
  en/administration/centreon-ha/monitoring-guide.md
  en/integrations/plugin-packs/procedures/applications-monitoring-centreon-ha.md
  fr/administration/centreon-ha/monitoring-guide.md
  fr/integrations/plugin-packs/procedures/applications-monitoring-centreon-ha.md
Labels: pack-monitoring-proc
