Repository centreon/centreon-documentation, pull requests merged in 2021-08, with the labels that each got.

#907 + fix xseries Plugin package name
  en/integrations/plugin-packs/procedures/network-switchs-dell-xseries-snmp.md
  fr/integrations/plugin-packs/procedures/network-switchs-dell-xseries-snmp.md
Labels: pack-monitoring-proc

#908 enh(release): Add Centreon Map 21.04.1 RN
  en/releases/centreon-commercial-extensions.md
  fr/releases/centreon-commercial-extensions.md
Labels: 21.04

#874 enh(release): prepare release notes for poller 20.04
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.04

#909 add(epp): fortinet fortiweb snmp proc
  en/integrations/plugin-packs/procedures/network-fortinet-fortiweb-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-fortinet-fortiweb-snmp.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#911 add(epp): barco cs snmp proc
  en/integrations/plugin-packs/procedures/hardware-devices-barco-cs-restapi.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/hardware-devices-barco-cs-restapi.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#912 add(epp): google workspace api proc - deprecate old google gsuite proc
  en/integrations/plugin-packs/procedures/applications-google-gsuite-api.md
  en/integrations/plugin-packs/procedures/applications-google-workspace-api.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-google-gsuite-api.md
  fr/integrations/plugin-packs/procedures/applications-google-workspace-api.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#914 add(epp): jvm jmx proc
  en/integrations/plugin-packs/procedures/applications-jvm-jmx.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-jvm-jmx.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#915 add(epp): jvm actuator proc
  en/integrations/plugin-packs/procedures/applications-jvm-actuator.md
  en/integrations/plugin-packs/procedures/applications-monitoring-centreon-map-jmx.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-jvm-actuator.md
  fr/integrations/plugin-packs/procedures/applications-monitoring-centreon-map-jmx.md
  fr/sidebars.json
Labels: pack-monitoring-proc, next-release

#923 add(epp): ubiquiti unifi proc
  en/integrations/plugin-packs/procedures/network-ubiquiti-unifi-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-ubiquiti-unifi-snmp.md
  fr/sidebars.json
Labels: pack-monitoring-proc

#925 add(epp): cyberpower ups snmp proc
  en/integrations/plugin-packs/procedures/hardware-ups-cyberpower-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/hardware-ups-cyberpower-snmp.md
  fr/sidebars.json
Labels: pack-monitoring-proc

#926 add(epp): slack api proc
  en/integrations/plugin-packs/procedures/applications-slack-restapi.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-slack-restapi.md
  fr/sidebars.json
Labels: pack-monitoring-proc

#927 add(epp): phoenixtec ups snmp proc
  en/integrations/plugin-packs/procedures/hardware-ups-phoenixtec-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/hardware-ups-phoenixtec-snmp.md
  fr/sidebars.json
Labels: pack-monitoring-proc

#928 enh(epp): ups hp snmp - procedure v2
  en/integrations/plugin-packs/procedures/hardware-ups-hp-snmp.md
  fr/integrations/plugin-packs/procedures/hardware-ups-hp-snmp.md
Labels: pack-monitoring-proc

#930 enh(epp): dell me4 rest api - procedure v2
  en/integrations/plugin-packs/procedures/hardware-storage-dell-me4-restapi.md
  fr/integrations/plugin-packs/procedures/hardware-storage-dell-me4-restapi.md
Labels: pack-monitoring-proc

#932 feat: new monitoring procedure for Ubiquiti Edge
  en/integrations/plugin-packs/procedures/network-ubiquiti-edge-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-ubiquiti-edge-snmp.md
  fr/sidebars.json
Labels: pack-monitoring-proc, next-release

#951 eng(release): Add Centreon Broker 20.04.16 RN
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.04

#950 eng(release): Add Centreon Broker 20.10.7 RN
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.10

#949 eng(release): Add Centreon Broker 21.04.3 RN
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 21.04
