Repository centreon/centreon-documentation, pull requests merged in 2021-02, with the labels that each got.

#566 fix(release): wrong date language
  fr/releases/centreon-core.md
Labels: 20.04

#568 enh(release): add Centreon Web 20.04.9 RN
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.04

#570 enh(release) Add Centreon Web 20.10.3 RN
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.10

#574 enh(release): Add Centreon Open Tickets 20.04.1 RN
  en/releases/centreon-os-extensions.md
  fr/releases/centreon-os-extensions.md
Labels: 20.04

#573 enh(release): Add Centreon Open Tickets 20.10.1 RN
  en/releases/centreon-os-extensions.md
  fr/releases/centreon-os-extensions.md
Labels: 20.10

#587 fix(secu): remove deprecated SSL ciphers, add order and compression
  en/administration/secure-platform.md
  fr/administration/secure-platform.md
Labels: area/backend

#542 feat(pack): add new-procedure-database-oracle-v3
  en/integrations/plugin-packs/procedures/applications-databases-oracle.md
  fr/integrations/plugin-packs/procedures/applications-databases-oracle.md
Labels: pack-monitoring-proc

#543 add(epp): oracle goldengate ssh proc
  en/integrations/plugin-packs/procedures/applications-oracle-goldengate-ssh.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-oracle-goldengate-ssh.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#544 add(epp): microsoft dhcp snmp
  en/integrations/plugin-packs/procedures/applications-microsoft-dhcp-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-microsoft-dhcp-snmp.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#554 update snow SC doc to match new SC script
  en/integrations/stream-connectors/sc-service-now.md
Labels: integration

#558 add(epp): fiberstore snmp
  en/integrations/plugin-packs/procedures/network-fiberstore-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-fiberstore-snmp.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#559 add(epp): ups socomec netvision snmp
  en/integrations/plugin-packs/procedures/hardware-ups-socomec-netvision-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/hardware-ups-socomec-netvision-snmp.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#565 add(epp): athonet ePC snmp monitoring proc
  en/integrations/plugin-packs/procedures/network-athonet-epc-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-athonet-epc-snmp.md
  fr/sidebars.json
Labels: pack-monitoring-proc

#567 add(epp): Azure monitoring procedures
  en/assets/integrations/plugin-packs/procedures/cloud-azure-database-elasticpool-provider.png
  en/assets/integrations/plugin-packs/procedures/cloud-azure-network-loadbalancer-provider.png
  en/integrations/plugin-packs/procedures/cloud-azure-database-elasticpool.md
  en/integrations/plugin-packs/procedures/cloud-azure-network-loadbalancer.md
  en/sidebars.json
  fr/assets/integrations/plugin-packs/procedures/cloud-azure-database-elasticpool-provider.png
  fr/assets/integrations/plugin-packs/procedures/cloud-azure-network-loadbalancer-provider.png
  fr/integrations/plugin-packs/procedures/cloud-azure-database-elasticpool.md
  fr/integrations/plugin-packs/procedures/cloud-azure-network-loadbalancer.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#577 enh(pack)app antivirus kasperskysnmp metricsv2
  en/integrations/plugin-packs/procedures/applications-antivirus-kaspersky-snmp.md
  fr/integrations/plugin-packs/procedures/applications-antivirus-kaspersky-snmp.md
Labels: pack-monitoring-proc

#578 add(epp): Azure Public IP monitoring proc
  en/integrations/plugin-packs/procedures/cloud-azure-network-publicip.md
  fr/integrations/plugin-packs/procedures/cloud-azure-network-publicip.md
Labels: next-release, pack-monitoring-proc

#579 Azure Key Vault monitoring proc
  en/integrations/plugin-packs/procedures/cloud-azure-security-keyvault.md
  fr/integrations/plugin-packs/procedures/cloud-azure-security-keyvault.md
Labels: next-release, pack-monitoring-proc

#582 add(epp): google compute engine
  en/integrations/plugin-packs/procedures/cloud-gcp-compute-computeengine.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/cloud-gcp-compute-computeengine.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#580 Azure Firewall monitoring proc
  en/integrations/plugin-packs/procedures/cloud-azure-network-firewall.md
  fr/integrations/plugin-packs/procedures/cloud-azure-network-firewall.md
Labels: next-release, pack-monitoring-proc

#588 add(epp): google cloudsql mysql
  en/integrations/plugin-packs/procedures/cloud-gcp-cloudsql-mysql.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/cloud-gcp-cloudsql-mysql.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#589 add(epp): google storage
  en/integrations/plugin-packs/procedures/cloud-gcp-storage.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/cloud-gcp-storage.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#590 add(epp): google stackdriver
  en/integrations/plugin-packs/procedures/cloud-gcp-management-stackdriver.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/cloud-gcp-management-stackdriver.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#537 enh(install): update platform registration documentation and translation
  en/installation/installation-of-a-central-server/using-packages.md
  en/installation/installation-of-a-central-server/using-sources.md
  en/installation/installation-of-a-poller/using-centreon-iso.md
  en/installation/installation-of-a-poller/using-packages.md
  en/installation/installation-of-a-remote-server/using-centreon-iso.md
  en/installation/installation-of-a-remote-server/using-packages.md
  en/integrations/plugin-packs/procedures/applications-webservers-iis-restapi.md
  en/migrate/poller-display-to-remote-server.md
  fr/administration/centreon-ha/upgrade-from-centreon-failover.md
  fr/installation/installation-of-a-central-server/using-sources.md
  fr/installation/installation-of-a-poller/using-centreon-iso.md
  fr/installation/installation-of-a-poller/using-packages.md
  fr/installation/installation-of-a-remote-server/using-centreon-iso.md
  fr/installation/installation-of-a-remote-server/using-packages.md
  fr/integrations/plugin-packs/procedures/applications-webservers-iis-restapi.md
  fr/migrate/poller-display-to-remote-server.md
Labels: area/backend, documentation

#601 enh(release): Add Centreon Web 20.04.10 RN
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.04

#602 enh(release): Add Centreon Web 20.10.4 RN
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.10
