Repository centreon/centreon-documentation, pull requests merged in 2021-03, with the labels that each got.

#575 add opsgenie sc documentation
  en/assets/integrations/external/sc-opsgenie.png
  en/integrations/stream-connectors/sc-opsgenie.md
  fr/assets/integrations/external/sc-opsgenie.png
  fr/integrations/external/sc-opsgenie.md
Labels: integration

#596 enh(pack)app antivirus mcafee webgateway snmp metricsv2
  en/integrations/plugin-packs/procedures/applications-antivirus-mcafee-webgateway-snmp.md
  fr/integrations/plugin-packs/procedures/applications-antivirus-mcafee-webgateway-snmp.md
Labels: pack-monitoring-proc

#609 add(epp): Azure Batch 2 monitoring proc
  en/assets/integrations/plugin-packs/procedures/cloud-azure-integration-eventgrid-provider.png
  en/assets/integrations/plugin-packs/procedures/cloud-azure-integration-servicebus-provider.png
  en/assets/integrations/plugin-packs/procedures/cloud-azure-management-automation-provider.png
  en/assets/integrations/plugin-packs/procedures/cloud-azure-web-signalr-provider.png
  en/integrations/plugin-packs/procedures/cloud-azure-integration-eventgrid.md
  en/integrations/plugin-packs/procedures/cloud-azure-integration-servicebus.md
  en/integrations/plugin-packs/procedures/cloud-azure-management-automation.md
  en/integrations/plugin-packs/procedures/cloud-azure-web-signalr.md
  en/sidebars.json
  fr/assets/integrations/plugin-packs/procedures/cloud-azure-integration-eventgrid-provider.png
  fr/assets/integrations/plugin-packs/procedures/cloud-azure-integration-servicebus-provider.png
  fr/assets/integrations/plugin-packs/procedures/cloud-azure-management-automation-provider.png
  fr/assets/integrations/plugin-packs/procedures/cloud-azure-web-signalr-provider.png
  fr/integrations/plugin-packs/procedures/cloud-azure-integration-eventgrid.md
  fr/integrations/plugin-packs/procedures/cloud-azure-integration-servicebus.md
  fr/integrations/plugin-packs/procedures/cloud-azure-management-automation.md
  fr/integrations/plugin-packs/procedures/cloud-azure-web-signalr.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#624 add(epp): emc ppma rest api
  en/integrations/plugin-packs/procedures/applications-emc-ppma-restapi.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-emc-ppma-restapi.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#625 add(epp): denyall snmp
  en/integrations/plugin-packs/procedures/network-denyall-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-denyall-snmp.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#626 add(epp): ubiquiti airfiber snmp
  en/integrations/plugin-packs/procedures/network-ubiquiti-airfiber-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-ubiquiti-airfiber-snmp.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#627 add(epp): meru snmp
  en/integrations/plugin-packs/procedures/network-meru-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-meru-snmp.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#629 add(epp): ibm hmc ssh
  en/integrations/plugin-packs/procedures/hardware-servers-ibm-hmc-ssh.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/hardware-servers-ibm-hmc-ssh.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc

#631 enh(pp/kubernetes): enhance Kubernetes monitoring procedure
  en/assets/integrations/plugin-packs/procedures/cloud-kubernetes-api-cluster-nodes-detail.png
  en/assets/integrations/plugin-packs/procedures/cloud-kubernetes-api-cluster-nodes-listing.png
  en/integrations/plugin-packs/procedures/cloud-kubernetes-api.md
  fr/assets/integrations/plugin-packs/procedures/cloud-kubernetes-api-cluster-nodes-detail.png
  fr/assets/integrations/plugin-packs/procedures/cloud-kubernetes-api-cluster-nodes-listing.png
  fr/integrations/plugin-packs/procedures/cloud-kubernetes-api.md
Labels: pack-monitoring-proc

#606 enh(pack)rewrite-prom-mp-and-misc[en]
  en/integrations/plugin-packs/procedures/cloud-azure-network-publicip.md
  en/integrations/plugin-packs/procedures/cloud-gcp-cloudsql-mysql.md
  en/integrations/plugin-packs/procedures/cloud-gcp-management-stackdriver.md
  en/integrations/plugin-packs/procedures/cloud-gcp-storage.md
  en/integrations/plugin-packs/procedures/cloud-prometheus-api.md
  fr/integrations/plugin-packs/procedures/cloud-prometheus-api.md
Labels: pack-monitoring-proc

#632 Add monitoring-proc-v2-smartermail + side fix
  en/integrations/plugin-packs/procedures/applications-smartermail-api.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-smartermail-api.md
  fr/sidebars.json
Labels: next-release, pack-monitoring-proc
