Repository centreon/centreon-documentation, pull requests merged in 2022-03, with the labels that each got.

#1329 Improve Apache configuration to enable HSTS (next)
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/administration/secure-platform.md
  versioned_docs/version-22.04/administration/secure-platform.md
Labels: area/backend

#1328 Improve Apache configuration to enable HSTS
  i18n/fr/docusaurus-plugin-content-docs/version-20.10/administration/secure-platform.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.04/administration/secure-platform.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.10/administration/secure-platform.md
  versioned_docs/version-20.10/administration/secure-platform.md
  versioned_docs/version-21.04/administration/secure-platform.md
  versioned_docs/version-21.10/administration/secure-platform.md
Labels: area/backend

#1331 enh(pp) : centreon database documentation for doc v2
  i18n/fr/docusaurus-plugin-content-docs/version-20.04/integrations/plugin-packs/procedures/applications-monitoring-centreon-database.md
  i18n/fr/docusaurus-plugin-content-docs/version-20.10/integrations/plugin-packs/procedures/applications-monitoring-centreon-database.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.04/integrations/plugin-packs/procedures/applications-monitoring-centreon-database.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.10/integrations/plugin-packs/procedures/applications-monitoring-centreon-database.md
  versioned_docs/version-20.04/integrations/plugin-packs/procedures/applications-monitoring-centreon-database.md
  versioned_docs/version-20.10/integrations/plugin-packs/procedures/applications-monitoring-centreon-database.md
  versioned_docs/version-21.04/integrations/plugin-packs/procedures/applications-monitoring-centreon-database.md
  versioned_docs/version-21.10/integrations/plugin-packs/procedures/applications-monitoring-centreon-database.md
Labels: pack-monitoring-proc

#1316 (monproc) migrate m365 & absyss vtom to docusaurus v2
  i18n/fr/docusaurus-plugin-content-docs/version-20.04/integrations/plugin-packs/procedures/applications-vtom-restapi.md
  i18n/fr/docusaurus-plugin-content-docs/version-20.04/integrations/plugin-packs/procedures/cloud-microsoft-office365-management.md
  i18n/fr/docusaurus-plugin-content-docs/version-20.10/integrations/plugin-packs/procedures/applications-vtom-restapi.md
  i18n/fr/docusaurus-plugin-content-docs/version-20.10/integrations/plugin-packs/procedures/cloud-microsoft-office365-management.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.04/integrations/plugin-packs/procedures/applications-vtom-restapi.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.04/integrations/plugin-packs/procedures/cloud-microsoft-office365-management.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.10/integrations/plugin-packs/procedures/applications-vtom-restapi.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.10/integrations/plugin-packs/procedures/cloud-microsoft-office365-management.md
  versioned_docs/version-20.04/integrations/plugin-packs/procedures/applications-vtom-restapi.md
  versioned_docs/version-20.04/integrations/plugin-packs/procedures/cloud-microsoft-office365-management.md
  versioned_docs/version-20.10/integrations/plugin-packs/procedures/applications-vtom-restapi.md
  versioned_docs/version-20.10/integrations/plugin-packs/procedures/cloud-microsoft-office365-management.md
  versioned_docs/version-21.04/integrations/plugin-packs/procedures/applications-vtom-restapi.md
  versioned_docs/version-21.04/integrations/plugin-packs/procedures/cloud-microsoft-office365-management.md
  versioned_docs/version-21.10/integrations/plugin-packs/procedures/applications-vtom-restapi.md
  versioned_docs/version-21.10/integrations/plugin-packs/procedures/cloud-microsoft-office365-management.md
Labels: pack-monitoring-proc

#1359 add(epp): viptela snmp docusaurus v2 next
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/integrations/plugin-packs/procedures/network-viptela-snmp.md
  versioned_docs/version-22.04/integrations/plugin-packs/procedures/network-viptela-snmp.md
Labels: pack-monitoring-proc

#1361 add(epp): fortinet fortiadc snmp docusaurus v2 next
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/integrations/plugin-packs/procedures/network-fortinet-fortiadc-snmp.md
  versioned_docs/version-22.04/integrations/plugin-packs/procedures/network-fortinet-fortiadc-snmp.md
Labels: pack-monitoring-proc

#1358 add(epp): viptela snmp docusaurus v2 staging
  i18n/fr/docusaurus-plugin-content-docs/version-20.04/integrations/plugin-packs/procedures/network-viptela-snmp.md
  i18n/fr/docusaurus-plugin-content-docs/version-20.10/integrations/plugin-packs/procedures/network-viptela-snmp.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.04/integrations/plugin-packs/procedures/network-viptela-snmp.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.10/integrations/plugin-packs/procedures/network-viptela-snmp.md
  versioned_docs/version-20.04/integrations/plugin-packs/procedures/network-viptela-snmp.md
  versioned_docs/version-20.10/integrations/plugin-packs/procedures/network-viptela-snmp.md
  versioned_docs/version-21.04/integrations/plugin-packs/procedures/network-viptela-snmp.md
  versioned_docs/version-21.10/integrations/plugin-packs/procedures/network-viptela-snmp.md
Labels: pack-monitoring-proc

#1306 add(epp): Ekara monitoring proc
  i18n/fr/docusaurus-plugin-content-docs/version-20.04/integrations/plugin-packs/procedures/applications-monitoring-iplabel-ekara-restapi.md
  i18n/fr/docusaurus-plugin-content-docs/version-20.10/integrations/plugin-packs/procedures/applications-monitoring-iplabel-ekara-restapi.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.04/integrations/plugin-packs/procedures/applications-monitoring-iplabel-ekara-restapi.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.10/integrations/plugin-packs/procedures/applications-monitoring-iplabel-ekara-restapi.md
  versioned_docs/version-20.04/integrations/plugin-packs/procedures/applications-monitoring-iplabel-ekara-restapi.md
  versioned_docs/version-20.10/integrations/plugin-packs/procedures/applications-monitoring-iplabel-ekara-restapi.md
  versioned_docs/version-21.04/integrations/plugin-packs/procedures/applications-monitoring-iplabel-ekara-restapi.md
  versioned_docs/version-21.10/integrations/plugin-packs/procedures/applications-monitoring-iplabel-ekara-restapi.md
  versioned_sidebars/version-20.04-sidebars.json
  versioned_sidebars/version-20.10-sidebars.json
  versioned_sidebars/version-21.04-sidebars.json
  versioned_sidebars/version-21.10-sidebars.json
Labels: pack-monitoring-proc, next-release

#1360 add(epp): fortinet fortiadc snmp docusaurus v2 staging
  i18n/fr/docusaurus-plugin-content-docs/version-20.04/integrations/plugin-packs/procedures/network-fortinet-fortiadc-snmp.md
  i18n/fr/docusaurus-plugin-content-docs/version-20.10/integrations/plugin-packs/procedures/network-fortinet-fortiadc-snmp.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.04/integrations/plugin-packs/procedures/network-fortinet-fortiadc-snmp.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.10/integrations/plugin-packs/procedures/network-fortinet-fortiadc-snmp.md
  versioned_docs/version-20.04/integrations/plugin-packs/procedures/network-fortinet-fortiadc-snmp.md
  versioned_docs/version-20.10/integrations/plugin-packs/procedures/network-fortinet-fortiadc-snmp.md
  versioned_docs/version-21.04/integrations/plugin-packs/procedures/network-fortinet-fortiadc-snmp.md
  versioned_docs/version-21.10/integrations/plugin-packs/procedures/network-fortinet-fortiadc-snmp.md
Labels: pack-monitoring-proc

#1347 fix(epp): nrpe nsclient 0.5 monitoring proc modification for 21.10 and higher
  i18n/fr/docusaurus-plugin-content-docs/version-21.10/integrations/plugin-packs/procedures/operatingsystems-windows-nsclient-05-nrpe.md
  versioned_docs/version-21.10/integrations/plugin-packs/procedures/operatingsystems-windows-nsclient-05-nrpe.md
Labels: pack-monitoring-proc

#1305 fix(apache): adapt apache configuration to new routing mechanism
  versioned_docs/version-22.04/administration/secure-platform.md
  versioned_docs/version-22.04/upgrade/upgrade-from-18-10.md
  versioned_docs/version-22.04/upgrade/upgrade-from-19-04.md
  versioned_docs/version-22.04/upgrade/upgrade-from-19-10.md
  versioned_docs/version-22.04/upgrade/upgrade-from-3-4.md
Labels: area/backend

#1392 fix(apache): adapt apache configuration to new routing mechanism (fr)
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/administration/secure-platform.md
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/upgrade/upgrade-from-18-10.md
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/upgrade/upgrade-from-19-04.md
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/upgrade/upgrade-from-19-10.md
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/upgrade/upgrade-from-3-4.md
Labels: area/backend

#1425 add(epp) : prerequisites for Azure monitoring - staging
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/tutorials/azure-credential-configuration.md
  pp/integrations/plugin-packs/tutorials/azure-credential-configuration.md
  pp/sidebarsPp.js
Labels: pack-monitoring-proc

#1424 enh(pp) : centreon central monitoring documentation Staging
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-monitoring-centreon-central.md
  pp/integrations/plugin-packs/procedures/applications-monitoring-centreon-central.md
Labels: pack-monitoring-proc
