Repository centreon/centreon-documentation, pull requests merged in 2022-01, with the labels that each got.

#1238 add(epp): microsens g6 snmp proc
  en/integrations/plugin-packs/procedures/network-microsens-g6-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-microsens-g6-snmp.md
  fr/sidebars.json
Labels: pack-monitoring-proc, next-release

#1240 add(epp): redis sentinel proc
  en/integrations/plugin-packs/procedures/applications-redis-sentinel.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-redis-sentinel.md
  fr/sidebars.json
Labels: pack-monitoring-proc, next-release

#1211 enh(release): add Centreon License Manager 20.04.6 RN
  en/releases/centreon-commercial-extensions.md
  fr/releases/centreon-commercial-extensions.md
Labels: 20.04

#1212 enh(release): add Centreon License Manager 20.10.4 RN
  en/releases/centreon-commercial-extensions.md
  fr/releases/centreon-commercial-extensions.md
Labels: 20.10

#1229 enh(pack): vmware proc - add services for connector 3.2.2
  en/integrations/plugin-packs/procedures/virtualization-vmware2-esx.md
  en/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-generic.md
  fr/integrations/plugin-packs/procedures/virtualization-vmware2-esx.md
  fr/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-generic.md
Labels: enhancement, pack-monitoring-proc, next-release

#1243 add(epp): cloud azure aks monitoring proc
  en/assets/integrations/plugin-packs/procedures/cloud-azure-compute-aks-provider.png
  en/integrations/plugin-packs/procedures/cloud-azure-compute-aks.md
  en/sidebars.json
  fr/assets/integrations/plugin-packs/procedures/cloud-azure-compute-aks-provider.png
  fr/integrations/plugin-packs/procedures/cloud-azure-compute-aks.md
  fr/sidebars.json
Labels: pack-monitoring-proc

#1244 add(epp): fortinet fortiswitch proc
  en/integrations/plugin-packs/procedures/network-fortinet-fortiswitch-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-fortinet-fortiswitch-snmp.md
  fr/sidebars.json
Labels: pack-monitoring-proc

#1246 enh(doc) add ssh conf details and refactoring body
  en/integrations/plugin-packs/procedures/applications-monitoring-centreon-poller.md
  fr/integrations/plugin-packs/procedures/applications-monitoring-centreon-poller.md
Labels: pack-monitoring-proc

#1251 add(epp): hpe simplivity restapi proc
  en/integrations/plugin-packs/procedures/virtualization-hpe-simplivity-restapi.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/virtualization-hpe-simplivity-restapi.md
  fr/sidebars.json
Labels: pack-monitoring-proc, next-release

#1258 enh(epp): PVX Rest API
  en/integrations/plugin-packs/procedures/applications-pvx-restapi.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-pvx-restapi.md
  fr/sidebars.json
Labels: enhancement, pack-monitoring-proc

#1259 enh(epp): Asterisk SNMP
  en/integrations/plugin-packs/procedures/applications-voip-asterisk-snmp.md
  fr/integrations/plugin-packs/procedures/applications-voip-asterisk-snmp.md
Labels: enhancement, pack-monitoring-proc

#1263 enh(epp): Asterisk AMI
  en/integrations/plugin-packs/procedures/applications-voip-asterisk-ami.md
  fr/integrations/plugin-packs/procedures/applications-voip-asterisk-ami.md
Labels: enhancement, pack-monitoring-proc

#1232 (doc) add more details about how to install Nmap RPMs
  en/integrations/plugin-packs/procedures/applications-nmap-cli.md
  fr/integrations/plugin-packs/procedures/applications-nmap-cli.md
Labels: enhancement, pack-monitoring-proc

#1252 update(epp): office365 management proc
  en/integrations/plugin-packs/procedures/cloud-microsoft-office365-management.md
  fr/integrations/plugin-packs/procedures/cloud-microsoft-office365-management.md
Labels: pack-monitoring-proc, next-release

#1248 add(epp): hikvision nvr proc
  en/integrations/plugin-packs/procedures/hardware-devices-hikvision-nvr-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/hardware-devices-hikvision-nvr-snmp.md
  fr/sidebars.json
Labels: pack-monitoring-proc

#1247 add(epp): dell omem snmp proc
  en/integrations/plugin-packs/procedures/hardware-servers-dell-omem-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/hardware-servers-dell-omem-snmp.md
  fr/sidebars.json
Labels: pack-monitoring-proc

#1249 add(epp): barracuda bma snmp proc
  en/integrations/plugin-packs/procedures/network-barracuda-bma-snmp.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/network-barracuda-bma-snmp.md
  fr/sidebars.json
Labels: pack-monitoring-proc

#1237 (doc) add new monitoring proc - sidebar refs - new aws fsx
  en/integrations/plugin-packs/procedures/applications-awa-jmx.md
  en/integrations/plugin-packs/procedures/applications-databases-informix-snmp.md
  en/integrations/plugin-packs/procedures/applications-hddtemp-tcp.md
  en/integrations/plugin-packs/procedures/applications-ibmmq-mqi.md
  en/integrations/plugin-packs/procedures/cloud-aws-fsx.md
  en/sidebars.json
  fr/integrations/plugin-packs/procedures/applications-awa-jmx.md
  fr/integrations/plugin-packs/procedures/applications-databases-informix-snmp.md
  fr/integrations/plugin-packs/procedures/applications-hddtemp-tcp.md
  fr/integrations/plugin-packs/procedures/applications-ibmmq-mqi.md
  fr/integrations/plugin-packs/procedures/cloud-aws-fsx.md
  fr/sidebars.json
Labels: pack-monitoring-proc, next-release

#1208 enh(release): Anomaly 20.04.5 RN
  en/releases/centreon-commercial-extensions.md
  fr/releases/centreon-commercial-extensions.md
Labels: 20.04

#1269 doc(release): add release note for centreon-broker-20.10.11
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 20.10

#1270 enh(release): Add Centreon Web 21.10.3 RN
  en/releases/centreon-core.md
  fr/releases/centreon-core.md
Labels: 21.10
