Repository centreon/centreon-documentation, pull requests merged in 2023-06, with the labels that each got.

#2355 Mon 15847 new plugin pack aws cloud trail
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-aws-cloudtrail.md
  pp/integrations/plugin-packs/procedures/cloud-aws-cloudtrail.md
  pp/sidebarsPp.js
Labels: area/connectors

#2348 add(epp): keysight nvos rest api
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-keysight-nvos-restapi.md
  pp/integrations/plugin-packs/procedures/network-keysight-nvos-restapi.md
Labels: area/connectors

#2360 enh(mc): refreshed the Hitachi HNAS doc page
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-hitachi-hnas-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-storage-hitachi-hnas-snmp.md
Labels: area/connectors

#2362 enh(epp): mysql proc
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-databases-mysql.md
  pp/integrations/plugin-packs/procedures/applications-databases-mysql.md
  pp/sidebarsPp.js
Labels: area/connectors

#2344 Proofread WSMAN topic
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/getting-started/how-to-guides/windows-winrm-wsman-tutorial.md
  pp/integrations/plugin-packs/getting-started/how-to-guides/windows-winrm-wsman-tutorial.md
Labels: area/connectors

#2274 Fix typing mistakes on event handler doc for all version and all languages
  i18n/fr/docusaurus-plugin-content-docs/version-20.04/monitoring/event-handler.md
  i18n/fr/docusaurus-plugin-content-docs/version-20.10/monitoring/event-handler.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.04/monitoring/event-handler.md
  i18n/fr/docusaurus-plugin-content-docs/version-21.10/monitoring/event-handler.md
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/monitoring/event-handler.md
  i18n/fr/docusaurus-plugin-content-docs/version-22.10/monitoring/event-handler.md
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/monitoring/event-handler.md
  versioned_docs/version-20.04/monitoring/event-handler.md
  versioned_docs/version-20.10/monitoring/event-handler.md
  versioned_docs/version-21.04/monitoring/event-handler.md
  versioned_docs/version-21.10/monitoring/event-handler.md
  versioned_docs/version-22.04/monitoring/event-handler.md
  versioned_docs/version-22.10/monitoring/event-handler.md
  versioned_docs/version-23.04/monitoring/event-handler.md
Labels: external

#2282 fix typing mistakes on contrib FR doc
  i18n/fr/docusaurus-plugin-content-docs/version-22.10/resources/contribute.md
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/resources/contribute.md
Labels: external

#2320 (Cloud) Rename Plugin pack to Monitoring Connector
  cloud/getting-started/concepts.md
  cloud/getting-started/monitor-cisco-router-with-snmp.md
  cloud/getting-started/monitor-linux-server-with-snmp.md
  cloud/getting-started/monitor-windows-server-with-snmp.md
  cloud/getting-started/monitoring.md
  cloud/getting-started/mysql_tuto.md
  cloud/monitoring/basic-objects/hosts-create-disco.md
  cloud/monitoring/basic-objects/hosts-create.md
  cloud/monitoring/basic-objects/hosts-templates.md
  cloud/monitoring/basic-objects/services-create-disco.md
  cloud/monitoring/basic-objects/services-create.md
  cloud/monitoring/discovery/hosts-discovery.md
  cloud/monitoring/discovery/introduction.md
  cloud/monitoring/pluginpacks.md
  cloud/resources/glossary.md
  cloud/sidebarsCloud.js
  cloud/users/users.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current.json
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/getting-started/concepts.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/getting-started/create-custom-view.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/getting-started/monitor-cisco-router-with-snmp.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/getting-started/monitor-linux-server-with-snmp.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/getting-started/monitor-windows-server-with-snmp.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/getting-started/monitoring.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/getting-started/mysql_tuto.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/monitoring/basic-objects/hosts-create-disco.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/monitoring/basic-objects/hosts-create.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/monitoring/basic-objects/hosts-templates.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/monitoring/basic-objects/services-create-disco.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/monitoring/basic-objects/services-create.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/monitoring/discovery/hosts-discovery.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/monitoring/discovery/introduction.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/monitoring/pluginpacks.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/resources/glossary.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/users/users.md
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/getting-started/which-install.md
  i18n/fr/docusaurus-plugin-content-docs/version-22.10/getting-started/actions.md
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/getting-started/actions.md
  pp/integrations/plugin-packs/dev-resources/introduction.md
Labels: cloud

#2319 (Cloud) Replace problem by alert, 23.04
  cloud/alerts-notifications/acknowledge.md
  cloud/alerts-notifications/concepts.md
  cloud/alerts-notifications/manage-alerts.md
  cloud/alerts-notifications/resources-status.md
  cloud/getting-started/concepts.md
  cloud/getting-started/create-custom-view.md
  cloud/resources/glossary.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/acknowledge.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/concepts.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/manage-alerts.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/resources-status.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/getting-started/concepts.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/getting-started/create-custom-view.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/resources/glossary.md
  versioned_docs/version-22.04/alerts-notifications/acknowledge.md
  versioned_docs/version-22.10/alerts-notifications/acknowledge.md
  versioned_docs/version-23.04/alerts-notifications/acknowledge.md
Labels: cloud

#2318 (Cloud) Infos on mappers, 23.04
  cloud/assets/monitoring/discovery/host-discovery-wizard-step-4.png
  cloud/monitoring/discovery/hosts-discovery.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/advanced_attributes1.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/advanced_attributes2.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/advanced_attributes3.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-automatic-analysis-all-options.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-exclude-powered-off.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-hosts-listing.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-job-listing.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-mappers-condition.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-mappers-exclusion.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-mappers-hostcategory-create.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-mappers-hostcategory-select.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-mappers-hostgroup-create.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-mappers-hostgroup-select.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-mappers-hostseverity-select.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-mappers-inclusion.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-mappers-macro.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-mappers-monitoring.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-mappers-property.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-mappers-template.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-wizard-step-1-1.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-wizard-step-1-2.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-wizard-step-2.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-wizard-step-3.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-wizard-step-4.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-wizard-step-5-2.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-wizard-step-6-day.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-wizard-step-6-hour.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-wizard-step-6-minute.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-wizard-step-6-month.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-wizard-step-6-week.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/host-discovery-wizard-step-6-year.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/monitoring/discovery/install-after.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/monitoring/discovery/hosts-discovery.md
Labels: cloud

#2317 (Cloud) Remove section on ssv import - BAM
  cloud/service-mapping/ba-management.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/service-mapping/ba-management.md
Labels: cloud

#2302 Add compact/extended view mode in Resource Status - Cloud
  cloud/alerts-notifications/resources-status.md
  cloud/assets/alerts/resources-status/compact-icon.png
  cloud/assets/alerts/resources-status/extended-icon.png
  cloud/assets/alerts/resources-status/resources-status-graph-add-comment.gif
  cloud/assets/alerts/resources-status/resources-status-graph-display-events.gif
  cloud/assets/alerts/resources-status/resources-status-graph-export-to-png.gif
  cloud/assets/alerts/resources-status/resources-status-graph-select-only-metric.gif
  cloud/assets/alerts/resources-status/resources-status-graph-time-selection.gif
  cloud/assets/alerts/resources-status/resources-status-graph-toggle-legends.gif
  cloud/assets/alerts/resources-status/resources-status-listing-order.gif
  cloud/assets/alerts/resources-status/resources-status-listing.png
  cloud/assets/alerts/resources-status/resources-status-panel-host.gif
  cloud/assets/alerts/resources-status/resources-status-panel-service.gif
  cloud/assets/alerts/resources-status/search-options-icon.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/resources-status.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/compact-icon.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/extended-icon.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/resources-status-graph-add-comment.gif
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/resources-status-graph-display-events.gif
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/resources-status-graph-export-to-png.gif
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/resources-status-graph-select-only-metric.gif
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/resources-status-graph-time-selection.gif
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/resources-status-graph-toggle-legends.gif
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/resources-status-listing-order.gif
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/resources-status-listing.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/resources-status-panel-host.gif
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/resources-status-panel-service.gif
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/search-options-icon.png
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/alerts-notifications/resources-status.md
Labels: cloud

#2296 Add Check / Forced check feature to Cloud doc
  cloud/alerts-notifications/resources-status.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/resources-status.md
Labels: cloud

#2278 Update screenshots with new Centreon logo - Cloud
  cloud/assets/administration/password_expiration.png
  cloud/assets/administration/password_expired.png
  cloud/assets/getting-started/aconnection.png
  cloud/assets/getting-started/banner_pollers.png
  cloud/assets/getting-started/change_language.png
  cloud/assets/getting-started/expand_menu.png
  cloud/assets/getting-started/menu_dark_mode.png
  cloud/assets/getting-started/menus.png
  cloud/assets/getting-started/top_counters.png
  cloud/getting-started/interface.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/administration/password_expiration.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/administration/password_expired.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/getting-started/aconnection.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/getting-started/amenu.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/getting-started/banner_pollers.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/getting-started/change_language_2.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/getting-started/menus.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/getting-started/password_expiration.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/getting-started/top_counters.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/getting-started/interface.md
Labels: cloud
