Repository centreon/centreon-documentation, pull requests merged in 2023-11, with the labels that each got.

#2800 enh(mc): quick refresh of this PATHETIC connector's documentation page
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-servers-hp-oneview-restapi.md
  pp/integrations/plugin-packs/procedures/hardware-servers-hp-oneview-restapi.md
Labels: area/connectors

#2596 add(epp): hardware-storage-ibm-storwize-ssh
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-ibm-storwize-ssh.md
  pp/integrations/plugin-packs/procedures/hardware-storage-ibm-storwize-ssh.md
Labels: area/connectors

#2796 enh(mc): refresh monitoring pack procedure page
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-azure-datafactory-factories.md
  pp/integrations/plugin-packs/procedures/cloud-azure-datafactory-factories.md
Labels: area/connectors

#2776 enh(mc): updated hardware-servers-hp-ilo-xmlapi
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-servers-hp-ilo-xmlapi.md
  pp/integrations/plugin-packs/procedures/hardware-servers-hp-ilo-xmlapi.md
Labels: area/connectors

#2551 enh(epp): applications-monitoring-centreon-sql-metrics
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-monitoring-centreon-sql-metrics.md
  pp/integrations/plugin-packs/procedures/applications-monitoring-centreon-sql-metrics.md
Labels: area/connectors

#2626 MC test batch - refresh Cisco standard SNMP
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-cisco-standard-snmp.md
  pp/integrations/plugin-packs/procedures/network-cisco-standard-snmp.md
Labels: area/connectors

#2629 MC test batch - Printer standard
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-printers-standard-rfc3805-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-printers-standard-rfc3805-snmp.md
Labels: area/connectors

#2632 MC - test batch - refresh Wazuh API pack
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-wazuh-restapi.md
  pp/integrations/plugin-packs/procedures/applications-wazuh-restapi.md
Labels: area/connectors

#2811 doc(release): Prepare release notes for modules 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-23.10/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#2508 add(epp): network-chapsvision-crossing-snmp
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-chapsvision-crossing-snmp.md
  pp/integrations/plugin-packs/procedures/network-chapsvision-crossing-snmp.md
  pp/sidebarsPp.js
Labels: area/connectors

#2756 [MON-21885] [Doc] Bad incrementation in VMware health
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/virtualization-vmware2-esx.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-generic.md
  pp/integrations/plugin-packs/procedures/virtualization-vmware2-esx.md
  pp/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-generic.md
  pp/sidebarsPp.js
Labels: area/connectors

#2806 MON-21233 - Add "Azure Tenant Discovery" host autodisco provider
  i18n/fr/docusaurus-plugin-content-docs-pp/current/assets/integrations/plugin-packs/procedures/cloud-azure-management-discover-credentials-tenant.png
  i18n/fr/docusaurus-plugin-content-docs-pp/current/assets/integrations/plugin-packs/procedures/cloud-azure-management-discover-discoparameters-tenant.png
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-azure-management-discover.md
  pp/assets/integrations/plugin-packs/procedures/cloud-azure-management-discover-credentials-tenant.png
  pp/assets/integrations/plugin-packs/procedures/cloud-azure-management-discover-discoparameters-tenant.png
  pp/integrations/plugin-packs/procedures/cloud-azure-management-discover.md
Labels: area/connectors

#2816 enh(rn): 23.11 release notes
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/releases/release-notes.md
  pp/integrations/plugin-packs/releases/release-notes.md
Labels: area/connectors

#2815 Monthly Connectors Release 23.11
  i18n/fr/docusaurus-plugin-content-docs-pp/current/assets/integrations/plugin-packs/procedures/cloud-azure-management-discover-credentials-tenant.png
  i18n/fr/docusaurus-plugin-content-docs-pp/current/assets/integrations/plugin-packs/procedures/cloud-azure-management-discover-discoparameters-tenant.png
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-monitoring-centreon-sql-metrics.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-azure-datafactory-factories.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-azure-management-discover.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-servers-hp-ilo-xmlapi.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-ibm-storwize-ssh.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-chapsvision-crossing-snmp.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/virtualization-vmware2-esx.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-generic.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/releases/release-notes.md
  pp/assets/integrations/plugin-packs/procedures/cloud-azure-management-discover-credentials-tenant.png
  pp/assets/integrations/plugin-packs/procedures/cloud-azure-management-discover-discoparameters-tenant.png
  pp/integrations/plugin-packs/procedures/applications-monitoring-centreon-sql-metrics.md
  pp/integrations/plugin-packs/procedures/cloud-azure-datafactory-factories.md
  pp/integrations/plugin-packs/procedures/cloud-azure-management-discover.md
  pp/integrations/plugin-packs/procedures/hardware-servers-hp-ilo-xmlapi.md
  pp/integrations/plugin-packs/procedures/hardware-storage-ibm-storwize-ssh.md
  pp/integrations/plugin-packs/procedures/network-chapsvision-crossing-snmp.md
  pp/integrations/plugin-packs/procedures/virtualization-vmware2-esx.md
  pp/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-generic.md
  pp/integrations/plugin-packs/releases/release-notes.md
  pp/sidebarsPp.js
Labels: area/connectors

#2640 MC test batch - yet another pack refreshed (applications-protocol-http)
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-protocol-http.md
  pp/integrations/plugin-packs/procedures/applications-protocol-http.md
Labels: area/connectors

#2737 Vpnless cloud connection
  cloud/assets/getting-started/infra3.png
  cloud/getting-started/architecture.md
  cloud/installation/deploy-poller.md
  cloud/installation/prerequisites.md
  cloud/security/security.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/getting-started/infra3.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/getting-started/architecture.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/installation/deploy-poller.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/installation/prerequisites.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/security/security.md
Labels: cloud

#2825 doc(release): prepare release notes for OSS 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#2824 doc(release): prepare release notes for OSS 23.04
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/releases/centreon-os.mdx
  versioned_docs/version-23.04/releases/centreon-os.mdx
Labels: release-notes

#2822 doc(release): prepare release notes for OSS 21.10
  i18n/fr/docusaurus-plugin-content-docs/version-21.10/releases/centreon-core.md
  versioned_docs/version-21.10/releases/centreon-core.md
Labels: release-notes

#2823 doc(release): prepare release notes for OSS 22.04
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/releases/centreon-core.md
  versioned_docs/version-22.04/releases/centreon-core.md
Labels: release-notes

#2829 doc(release): prepare release notes for Collect 23.04
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/releases/centreon-os.mdx
  versioned_docs/version-23.04/releases/centreon-os.mdx
Labels: release-notes

#2830 doc(release): Prepare release notes for collect 22.10
  i18n/fr/docusaurus-plugin-content-docs/version-22.10/releases/centreon-os.md
  versioned_docs/version-22.10/releases/centreon-os.md
Labels: release-notes

#2836 doc(release): prepare release notes for Modules 22.04
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/releases/centreon-commercial-extensions.md
  versioned_docs/version-22.04/releases/centreon-commercial-extensions.md
Labels: release-notes

#2834 doc(release): prepare release notes for Modules 21.10
  i18n/fr/docusaurus-plugin-content-docs/version-21.10/releases/centreon-commercial-extensions.md
  versioned_docs/version-21.10/releases/centreon-commercial-extensions.md
Labels: release-notes

#2837 doc(release): Prepare release notes for Modules 23.04
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-23.04/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#2835 doc(release): Prepare release notes for Modules 22.10
  i18n/fr/docusaurus-plugin-content-docs/version-22.10/releases/centreon-commercial-extensions.md
  versioned_docs/version-22.10/releases/centreon-commercial-extensions.md
Labels: release-notes

#2625 MC test batch - the Windows NSClient RestAPI doc page
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/operatingsystems-windows-nsclient-05-restapi.md
  pp/integrations/plugin-packs/procedures/operatingsystems-windows-nsclient-05-restapi.md
Labels: area/connectors

#2847 doc(release): add missing release note entry for gorgone 23.10.1
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#2848 doc(release): Prepare release notes for Modules 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-23.10/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#2854 doc(release): prepare release notes for OSS 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#2853 doc(release): prepare release notes for OSS 23.04
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/releases/centreon-os.mdx
  versioned_docs/version-23.04/releases/centreon-os.mdx
Labels: release-notes
