Repository centreon/centreon-documentation, pull requests merged in 2023-12, with the labels that each got.

#2877 doc(release): Prepare release notes for modules 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-23.10/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#2878 doc(release): prepare release notes for oss 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#2813 [Cloud] Remove notifications tab
  cloud/alerts-notifications/resources-status.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/resources-status.md
Labels: cloud

#2730 Cloud notifications
  cloud/alerts-notifications/notif-configuration.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/notif-configuration.md
Labels: cloud

#2748 MAP - Add info for untied element for Cloud
  cloud/graph-views/map-web-create-standard-map.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/graph-views/map-web-create-standard-map.md
Labels: cloud

#2761 Document Dashboards Beta feature - Cloud
  cloud/alerts-notifications/dashboards.md
  cloud/assets/alerts/dashboard-view.png
  cloud/assets/alerts/widget-view.png
  cloud/sidebarsCloud.js
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/dashboards.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/dashboard-view.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/widget-view.png
Labels: cloud

#2722 Cloud: Mass change
  cloud/monitoring/generic-actions.md
Labels: cloud

#2763 Update RS filter section - Cloud
  cloud/alerts-notifications/resources-status.md
  cloud/assets/alerts/resources-status/resources-status-listing-order.gif
  cloud/assets/alerts/resources-status/resources-status-listing.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/resources-status.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/resources-status-listing-order.gif
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/resources-status-listing.png
Labels: cloud

#2767 Update MAP known issues - Cloud
  cloud/graph-views/map-web-known-issues.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/graph-views/map-web-known-issues.md
Labels: cloud

#2716 Document Save perspective of your map - Cloud
  cloud/graph-views/map-web-create-standard-map.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/graph-views/map-web-create-standard-map.md
Labels: cloud

#2717 Add resources in bulk mode - Cloud
  cloud/graph-views/map-web-create-standard-map.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/graph-views/map-web-create-standard-map.md
Labels: cloud

#2743 Cloud: poller install command
  cloud/installation/deploy-poller.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/installation/deploy-poller.md
Labels: cloud

#2736 [Cloud] View by host/service
  cloud/alerts-notifications/resources-status.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/resources-status.md
Labels: cloud

#2805 Add Anomaly Detection to Cloud section
  cloud/monitoring/anomaly-detection.md
  cloud/sidebarsCloud.js
  i18n/fr/docusaurus-plugin-content-docs-cloud/current.json
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/monitoring/anomaly-detection.md
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/assets/monitoring/anomaly/configure_analysis_01.png
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/assets/monitoring/anomaly/configure_analysis_02.png
  versioned_docs/version-23.10/assets/monitoring/anomaly/configure_analysis_01.png
  versioned_docs/version-23.10/assets/monitoring/anomaly/configure_analysis_02.png
Labels: cloud

#2866 enh(mc): hardware-pdu-cyberpower-snmp
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-pdu-cyberpower-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-pdu-cyberpower-snmp.md
Labels: area/connectors

#2865 enh(mc): refresh network-adva-fsp3000-snmp procedure
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-adva-fsp3000-snmp.md
  pp/integrations/plugin-packs/procedures/network-adva-fsp3000-snmp.md
Labels: area/connectors

#2869 enh(mc): hardware-storage-avid-isis-snmp
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-avid-isis-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-storage-avid-isis-snmp.md
Labels: area/connectors

#2876 CTOR-176-network-stormshield-api
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-stormshield-api.md
  pp/integrations/plugin-packs/procedures/network-stormshield-api.md
Labels: area/connectors

#2864 enh(mc): refresh operatingsystems-linux-snmp procedure
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/operatingsystems-linux-snmp.md
  pp/integrations/plugin-packs/procedures/operatingsystems-linux-snmp.md
Labels: area/connectors

#2863 enh(mc): refresh operatingsystems-windows-snmp procedure
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/operatingsystems-linux-snmp.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/operatingsystems-windows-snmp.md
  pp/integrations/plugin-packs/procedures/operatingsystems-linux-snmp.md
  pp/integrations/plugin-packs/procedures/operatingsystems-windows-snmp.md
Labels: area/connectors

#2862 enh(mc): update network-switchs-alcatel-omniswitch-snmp doc
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-switchs-alcatel-omniswitch-snmp.md
  pp/integrations/plugin-packs/procedures/network-switchs-alcatel-omniswitch-snmp.md
Labels: area/connectors

#2884 enh(mc): refresh hardware-storage-synology-snmp
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-synology-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-storage-synology-snmp.md
Labels: area/connectors

#2885 enh(mc): update applications-monitoring-centreon-database
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-monitoring-centreon-database.md
  pp/integrations/plugin-packs/procedures/applications-monitoring-centreon-database.md
Labels: area/connectors

#2868 Refrech the centreon central doc
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-monitoring-centreon-central.md
  pp/integrations/plugin-packs/procedures/applications-monitoring-centreon-central.md
Labels: area/connectors

#2880 doc(release): Prepare release notes for OSS 22.04
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/releases/centreon-core.md
  versioned_docs/version-22.04/releases/centreon-core.md
Labels: release-notes

#2881 doc(release): Prepare release notes for OSS 22.10
  i18n/fr/docusaurus-plugin-content-docs/version-22.10/releases/centreon-os.md
  versioned_docs/version-22.10/releases/centreon-os.md
Labels: release-notes

#2908 doc(release): prepare release notes for OSS 23.04
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/releases/centreon-os.mdx
  versioned_docs/version-23.04/releases/centreon-os.mdx
Labels: release-notes

#2882 doc(release): Prepare release notes for modules 22.10
  i18n/fr/docusaurus-plugin-content-docs/version-22.10/releases/centreon-commercial-extensions.md
  versioned_docs/version-22.10/releases/centreon-commercial-extensions.md
Labels: release-notes

#2909 doc(release): Prepare release notes for oss 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#2879 doc(release): Prepare release notes for Modules 22.04
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/releases/centreon-commercial-extensions.md
  versioned_docs/version-22.04/releases/centreon-commercial-extensions.md
Labels: release-notes

#2912 doc(release): prepare release notes for Modules 23.04
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-23.04/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#2910 doc(release): prepare release notes for OSS 23.04
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/releases/centreon-os.mdx
  versioned_docs/version-23.04/releases/centreon-os.mdx
Labels: release-notes

#2915 doc(release): Prepare release notes for oss 22.04
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/releases/centreon-core.md
  versioned_docs/version-22.04/releases/centreon-core.md
Labels: release-notes

#2914 doc(release): prepare release notes for OSS 22.10
  i18n/fr/docusaurus-plugin-content-docs/version-22.10/releases/centreon-os.md
  versioned_docs/version-22.10/releases/centreon-os.md
Labels: release-notes

#2911 doc(release): prepare release notes for Modules 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-23.10/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#2917 doc(release): Prepare release notes for modules 23.04
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-23.04/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#2916 doc(release): prepare release notes for Modules 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-23.10/releases/centreon-commercial-extensions.mdx
Labels: release-notes
