Repository centreon/centreon-documentation, pull requests merged in 2024-04, with the labels that each got.

#3182 enh(mc): updated VerneMQ procedure
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-vernemq-restapi.md
  pp/integrations/plugin-packs/procedures/applications-vernemq-restapi.md
Labels: area/connectors

#3189 Refresh the hardware-ups-cyberpower-snmp doc
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-ups-cyberpower-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-ups-cyberpower-snmp.md
  pp/sidebarsPp.js
Labels: area/connectors

#3188 Refresh the Eaton PDU SNMP documentation
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-pdu-eaton-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-pdu-eaton-snmp.md
Labels: area/connectors

#3202 doc(release): prepare release notes for Collect 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#3208 enh(mc): add the new option
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-dell-sseries-snmp.md
  pp/integrations/plugin-packs/procedures/network-dell-sseries-snmp.md
Labels: area/connectors

#3174 add(mc): new applications-veeam-wsman MC
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-veeam-wsman.md
  pp/integrations/plugin-packs/procedures/applications-veeam-wsman.md
  pp/sidebarsPp.js
Labels: area/connectors

#3173 add(mc): new cloud-azure-database-postgresql MC
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-azure-database-postgresql.md
  pp/integrations/plugin-packs/procedures/cloud-azure-database-postgresql.md
  pp/sidebarsPp.js
Labels: area/connectors

#3190 Refresh the APC PDU doc
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-pdu-apc-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-pdu-apc-snmp.md
Labels: area/connectors

#3175 enh(mc): refresh cloud-azure-database-sqldatabase
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-azure-database-sqldatabase.md
  pp/integrations/plugin-packs/procedures/cloud-azure-database-sqldatabase.md
Labels: area/connectors

#3193 Refresh the ups-powerware-snmp doc
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-ups-powerware-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-ups-powerware-snmp.md
Labels: area/connectors

#3198 Refresh the Netbotz Sensor documentation
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-sensors-netbotz-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-sensors-netbotz-snmp.md
Labels: area/connectors

#3197 Refresh the HWg-STE Sensor documentation
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-sensors-hwgste-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-sensors-hwgste-snmp.md
Labels: area/connectors

#3205 doc(release): prepare release notes for OSS 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#3210 doc(release): Fix release notes for Collect 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#3213 doc(release): prepare release notes for OSS 23.04
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/releases/centreon-os.mdx
  versioned_docs/version-23.04/releases/centreon-os.mdx
Labels: release-notes

#3214 doc(release): prepare release notes for OSS 22.10
  i18n/fr/docusaurus-plugin-content-docs/version-22.10/releases/centreon-os.md
  versioned_docs/version-22.10/releases/centreon-os.md
Labels: release-notes

#3215 doc(release): Prepare release notes for OSS 22.04
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/releases/centreon-core.md
  versioned_docs/version-22.04/releases/centreon-core.md
Labels: release-notes

#3139 update documentation of hashicorp plugin pack
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-hashicorp-vault-restapi.md
  pp/integrations/plugin-packs/procedures/applications-hashicorp-vault-restapi.md
Labels: area/connectors

#3220 enh(rn): MCR 24.04
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/releases/release-notes.md
  pp/integrations/plugin-packs/releases/release-notes.md
Labels: area/connectors

#3176 doc(release) Prepare release notes for cloud release 24.04 March
  cloud/releases/cloud-release-notes.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/releases/cloud-release-notes.md
Labels: cloud, release-notes

#3194 Document Playlists feature - Cloud
  cloud/alerts-notifications/dashboards.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/dashboards.md
Labels: cloud

#3149 Add fullscreen feature - Cloud
  cloud/users/users.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/users/users.md
Labels: cloud

#2988 Cloud: commands, macros, whitelists
  cloud/monitoring/basic-objects/commands.md
  cloud/monitoring/basic-objects/macros.md
  cloud/resources/glossary.md
  cloud/sidebarsCloud.js
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/monitoring/basic-objects/commands.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/monitoring/basic-objects/macros.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/resources/glossary.md
Labels: cloud

#3228 doc(release): prepare release notes for Modules 23.04
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-23.04/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#3227 doc(release): Prepare release notes for modules 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-23.10/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#3232 doc(release): Prepare release notes for modules 22.04
  i18n/fr/docusaurus-plugin-content-docs/version-22.04/releases/centreon-commercial-extensions.md
  versioned_docs/version-22.04/releases/centreon-commercial-extensions.md
Labels: release-notes

#3243 doc(release): add release note for web 23.10.11
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#3239 [CTOR-492] Update Eaton ATS SNMP page
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-ats-eaton-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-ats-eaton-snmp.md
Labels: area/connectors

#3236 [CTOR-496] [Doc-SC] Update Raritan PDU documentation
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-pdu-raritan-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-pdu-raritan-snmp.md
Labels: area/connectors

#3255 doc(release) Release notes for modules 24.04 on prem
  i18n/fr/docusaurus-plugin-content-docs/version-24.04/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-24.04/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#3253 doc(release): Release notes for oss + collect 24.04 on prem
  i18n/fr/docusaurus-plugin-content-docs/version-24.04/releases/centreon-os.mdx
  versioned_docs/version-24.04/releases/centreon-os.mdx
Labels: release-notes

#2729 Fix MAP update command for debian 11 (23.04 to 24.04)
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/graph-views/update.md
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/graph-views/update.md
  i18n/fr/docusaurus-plugin-content-docs/version-24.04/graph-views/update.md
  versioned_docs/version-23.04/graph-views/update.md
  versioned_docs/version-23.10/graph-views/update.md
  versioned_docs/version-24.04/graph-views/update.md
Labels: documentation, enhancement
