Repository centreon/centreon-documentation, pull requests merged in 2024-08, with the labels that each got.

#3437 CTOR-534 Refresh cloud-kubernetes-api doc
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-kubernetes-api.md
  pp/integrations/plugin-packs/procedures/cloud-kubernetes-api.md
Labels: area/connectors

#3457 new(mc): added HPE Primera MC doc
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-hpe-primera-restapi.md
  pp/integrations/plugin-packs/procedures/hardware-storage-hpe-primera-restapi.md
Labels: area/connectors

#3463 doc(release): Release notes for collect 23.10.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#3462 doc(release): Release notes for collect 24.04.5
  i18n/fr/docusaurus-plugin-content-docs/version-24.04/releases/centreon-os.mdx
  versioned_docs/version-24.04/releases/centreon-os.mdx
Labels: release-notes

#3461 fix(sidebars): added the missing entry for HPE Primera
  pp/sidebarsPp.js
Labels: area/connectors

#3465 doc(release): Release notes for web 23.10.15
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#3464 enh(mc): refreshed the doc page of VMware VeloCloud Orchestrator
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-vmware-velocloud-restapi.md
  pp/integrations/plugin-packs/procedures/cloud-vmware-velocloud-restapi.md
Labels: area/connectors

#3460 enh(mc): refreshed the doc of 3CX connector
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-voip-3cx-restapi.md
  pp/integrations/plugin-packs/procedures/applications-voip-3cx-restapi.md
Labels: area/connectors

#3468 Release Connectors 24.08
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-voip-3cx-restapi.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-kubernetes-api.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-vmware-velocloud-restapi.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-hpe-primera-restapi.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-sonus-sbc-snmp.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-teldat-snmp.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/releases/release-notes.md
  pp/integrations/plugin-packs/procedures/applications-voip-3cx-restapi.md
  pp/integrations/plugin-packs/procedures/cloud-kubernetes-api.md
  pp/integrations/plugin-packs/procedures/cloud-vmware-velocloud-restapi.md
  pp/integrations/plugin-packs/procedures/hardware-storage-hpe-primera-restapi.md
  pp/integrations/plugin-packs/procedures/network-sonus-sbc-snmp.md
  pp/integrations/plugin-packs/procedures/network-teldat-snmp.md
  pp/integrations/plugin-packs/releases/release-notes.md
  pp/sidebarsPp.js
Labels: area/connectors

#3470 doc(release): Release notes for map 231012 and mbi 23107
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-23.10/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#3469 doc(release): Release notes for modules 24.04
  i18n/fr/docusaurus-plugin-content-docs/version-24.04/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-24.04/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#3471 doc(release): Modification release notes 24.04 and 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-commercial-extensions.mdx
  i18n/fr/docusaurus-plugin-content-docs/version-24.04/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-23.10/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-24.04/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#3429 Add Cloud API doc to ToC
  cloud/sidebarsCloud.js
  i18n/fr/docusaurus-plugin-content-docs-cloud/current.json
Labels: cloud

#3458 Update known issues for Cloud 24.07
  cloud/resources/known-issues.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/resources/known-issues.md
Labels: cloud

#3441 Update Dashboards topic - Cloud 24.07
  cloud/alerts-notifications/dashboards.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/dashboards.md
Labels: cloud

#3466 doc(release): Release notes for Cloud 24.07
  cloud/releases/cloud-release-notes.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/releases/cloud-release-notes.md
Labels: release-notes

#3026 [Cloud] API tokens
  cloud/administration/api_tokens.md
  cloud/sidebarsCloud.js
  i18n/fr/docusaurus-plugin-content-docs-cloud/current.json
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/administration/api_tokens.md
Labels: cloud

#3482 Only Editors and Administrators can see the poller installation command
  cloud/installation/deploy-poller.md
  cloud/users/users.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/installation/deploy-poller.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/users/users.md
Labels: cloud

#3487 CTOR-822 : Refresh hardware-storage-adic-tape-snmp
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-adic-tape-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-storage-adic-tape-snmp.md
  pp/sidebarsPp.js
Labels: area/connectors

#3495 CTOR-737 : Refresh operatingsystems-mac-snmp
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/operatingsystems-mac-snmp.md
  pp/integrations/plugin-packs/procedures/operatingsystems-mac-snmp.md
Labels: area/connectors
