Repository centreon/centreon-documentation, pull requests merged in 2025-07, with the labels that each got.

#4443 fix(network-denyall-snmp): fixed default FILTERSTORAGE value CTOR-1484
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-denyall-snmp.md
  pp/integrations/plugin-packs/procedures/network-denyall-snmp.md
Labels: area/connectors

#4439 fix(applications-sccm-nsclient): fixed wrong argument in command template site-status CTOR-1596
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-sccm-nsclient.md
  pp/integrations/plugin-packs/procedures/applications-sccm-nsclient.md
Labels: area/connectors

#4459 enh(cloud-azure-management-costs): enh doc page CTOR-711
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-azure-management-costs.md
  pp/integrations/plugin-packs/procedures/cloud-azure-management-costs.md
Labels: area/connectors

#4461 enh(apps-quanta-restapi) doc page
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-monitoring-quanta-restapi.md
  pp/integrations/plugin-packs/procedures/applications-monitoring-quanta-restapi.md
Labels: area/connectors

#4465 enh(applications-hashicorp-vault-restapi) doc page CTOR-1558
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-hashicorp-vault-restapi.md
  pp/integrations/plugin-packs/procedures/applications-hashicorp-vault-restapi.md
Labels: area/connectors

#4477 connectors-release(25.07): added release note
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/releases/release-notes.md
  pp/integrations/plugin-packs/releases/release-notes.md
Labels: area/connectors

#4479 release-connectors(25.07): Ctor-1778
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-hashicorp-vault-restapi.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-monitoring-quanta-restapi.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-sccm-nsclient.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-virtualization-vmware8-vcenter-restapi.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-webservers-apache-serverstatus.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-azure-management-costs.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-hpe-alletra-restapi.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-netapp-santricity-restapi.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-denyall-snmp.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/releases/release-notes.md
  pp/integrations/plugin-packs/procedures/applications-hashicorp-vault-restapi.md
  pp/integrations/plugin-packs/procedures/applications-monitoring-quanta-restapi.md
  pp/integrations/plugin-packs/procedures/applications-sccm-nsclient.md
  pp/integrations/plugin-packs/procedures/applications-virtualization-vmware8-vcenter-restapi.md
  pp/integrations/plugin-packs/procedures/applications-webservers-apache-serverstatus.md
  pp/integrations/plugin-packs/procedures/cloud-azure-management-costs.md
  pp/integrations/plugin-packs/procedures/hardware-storage-hpe-alletra-restapi.md
  pp/integrations/plugin-packs/procedures/hardware-storage-netapp-santricity-restapi.md
  pp/integrations/plugin-packs/procedures/network-denyall-snmp.md
  pp/integrations/plugin-packs/releases/release-notes.md
  pp/sidebarsPp.js
Labels: area/connectors

#4374 Refresh applications-databases-mysql doc page CTOR-1562
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-databases-mysql.md
  pp/integrations/plugin-packs/procedures/applications-databases-mysql.md
Labels: area/connectors

#4496 doc(release) Release notes collect 23.10.16 gorgone 23.10.13
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#4510 doc(release) Release notes 23.10 modules july25
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-23.10/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#4515 Update .gif for new BAM page display - Cloud
  cloud/assets/service-mapping/New BA Monitoring page.gif
  cloud/service-mapping/introduction.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/service-mapping/New BA Monitoring page.gif
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/service-mapping/introduction.md
Labels: cloud

#4489 Update host groups for Cloud 25.05
  cloud/monitoring/groups.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/monitoring/groups.md
Labels: cloud

#4493 [Cloud] Update path to API token creation page
  cloud/administration/api_tokens.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/administration/api_tokens.md
Labels: cloud

#4471 Document Export to CSV - Cloud 25.05
  cloud/alerts-notifications/resources-status.md
  cloud/assets/alerts/resources-status/resources-status-listing.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/resources-status.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/resources-status/resources-status-listing.png
Labels: cloud

#4468 Update list of widgets - Cloud 25.05
  cloud/alerts-notifications/dashboards.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/dashboards.md
Labels: cloud

#4534 doc(release) Release notes collect 24.04.13
  i18n/fr/docusaurus-plugin-content-docs/version-24.04/releases/centreon-os.mdx
  versioned_docs/version-24.04/releases/centreon-os.mdx
Labels: release-notes
