Repository centreon/centreon-documentation, pull requests merged in 2025-06, with the labels that each got.

#4376 doc(release) Release notes web 24.04.13
  i18n/fr/docusaurus-plugin-content-docs/version-24.04/releases/centreon-os.mdx
  versioned_docs/version-24.04/releases/centreon-os.mdx
Labels: release-notes

#4323 enh(mc): adapt vmware-daemon procedure to new situation
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/virtualization-vmware2-esx.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-6.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-generic.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/virtualization-vmware2-vm.md
  pp/integrations/plugin-packs/procedures/virtualization-vmware2-esx.md
  pp/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-6.md
  pp/integrations/plugin-packs/procedures/virtualization-vmware2-vcenter-generic.md
  pp/integrations/plugin-packs/procedures/virtualization-vmware2-vm.md
Labels: area/connectors

#4320 doc(release) Release notes cloud 25.03
  cloud/releases/cloud-release-notes.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/releases/cloud-release-notes.md
Labels: cloud, release-notes

#4372 enh(cloud::microsoft::office365::onedrive): added template for users-activity and service discovery for site-usage CTOR-1597
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-microsoft-office365-onedrive.md
  pp/integrations/plugin-packs/procedures/cloud-microsoft-office365-onedrive.md
Labels: area/connectors

#4422 doc(release) Release notes web 23.10.25
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#4424 doc(release) Release notes modules 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-23.10/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#4174 [CTOR-1423]-Refresh cloud-azure-security-keyvault doc page
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/cloud-azure-security-keyvault.md
  pp/integrations/plugin-packs/procedures/cloud-azure-security-keyvault.md
Labels: area/connectors

#4314 remove capitalization in applications_vmware_vcsa_snmp
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-vmware-vcsa-snmp.md
  pp/integrations/plugin-packs/procedures/applications-vmware-vcsa-snmp.md
Labels: area/connectors
