Repository centreon/centreon-documentation, pull requests merged in 2025-03, with the labels that each got.

#4125 doc(release) Release notes gorgone 23.04.17
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/releases/centreon-os.mdx
  versioned_docs/version-23.04/releases/centreon-os.mdx
Labels: release-notes

#4123 doc(release) Release notes collect 23.10.14 gorgone 23.10.11
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#4165 doc(release) Release notes collect 24.04.10 gorgone 24.04.7
  i18n/fr/docusaurus-plugin-content-docs/version-24.04/releases/centreon-os.mdx
  versioned_docs/version-24.04/releases/centreon-os.mdx
Labels: release-notes

#4166 doc(release) Release notes collect 23.10.14 gorgone 23.10.11
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#4153 enh(network::fortinet::fortigate::snmp): added counter for IPSec tunnels in vpn mode CTOR-1237
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-firewalls-fortinet-fortigate-snmp.md
  pp/integrations/plugin-packs/procedures/network-firewalls-fortinet-fortigate-snmp.md
Labels: area/connectors

#4154 fix(hardware::server::cisco::ucs::snmp): fixed wrong count when memory component is not equipped CTOR-1294
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-servers-cisco-ucs-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-servers-cisco-ucs-snmp.md
Labels: area/connectors

#4167 enh(os::as400::connector): Add secure connection option
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/operatingsystems-as400-connector.md
  pp/integrations/plugin-packs/procedures/operatingsystems-as400-connector.md
Labels: area/connectors

#4156 feat(pp/vmware8-esx): new monitoring connector
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/application-virtualization-vmware8-esx-restapi.md
  pp/integrations/plugin-packs/procedures/application-virtualization-vmware8-esx-restapi.md
  pp/sidebarsPp.js
Labels: area/connectors

#4155 enh(storage::emc::datadomain::snmp): added timezone option for equipment in cleaning mode CTOR-1415
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-emc-datadomain-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-storage-emc-datadomain-snmp.md
Labels: area/connectors

#4143 enh(network::aruba::aoscx::snmp): added uptime, spanning tree and its iscovery modes CTOR-1397
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-aruba-aoscx-snmp.md
  pp/integrations/plugin-packs/procedures/network-aruba-aoscx-snmp.md
Labels: area/connectors

#4168 release-note: add release note for march release
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/releases/release-notes.md
  pp/integrations/plugin-packs/releases/release-notes.md
Labels: area/connectors

#4112 feat(applications-veeam-centreon-monitoring-agent): added new connector for Veeam using Centreon Monitoring Agent
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-veeam-centreon-monitoring-agent.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-veeam-nrpe.md
  pp/integrations/plugin-packs/procedures/applications-veeam-centreon-monitoring-agent.md
  pp/integrations/plugin-packs/procedures/applications-veeam-nrpe.md
  pp/sidebarsPp.js
Labels: area/connectors

#4169 release: connectors 25.03 release CTOR-1330
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/application-virtualization-vmware8-esx-restapi.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-veeam-centreon-monitoring-agent.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-veeam-nrpe.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-servers-cisco-ucs-snmp.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-emc-datadomain-snmp.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-purestorage-flasharray-v2-restapi.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-aruba-aoscx-snmp.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-firewalls-fortinet-fortigate-snmp.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/operatingsystems-as400-connector.md
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/releases/release-notes.md
  pp/integrations/plugin-packs/procedures/application-virtualization-vmware8-esx-restapi.md
  pp/integrations/plugin-packs/procedures/applications-veeam-centreon-monitoring-agent.md
  pp/integrations/plugin-packs/procedures/applications-veeam-nrpe.md
  pp/integrations/plugin-packs/procedures/hardware-servers-cisco-ucs-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-storage-emc-datadomain-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-storage-purestorage-flasharray-v2-restapi.md
  pp/integrations/plugin-packs/procedures/network-aruba-aoscx-snmp.md
  pp/integrations/plugin-packs/procedures/network-firewalls-fortinet-fortigate-snmp.md
  pp/integrations/plugin-packs/procedures/operatingsystems-as400-connector.md
  pp/integrations/plugin-packs/releases/release-notes.md
  pp/sidebarsPp.js
Labels: area/connectors

#4151 [Cloud] Open Tickets -part 2
  cloud/alerts-notifications/ticketing.md
  cloud/alerts-notifications/ticketing/architecture.md
  cloud/alerts-notifications/ticketing/glossary.md
  cloud/alerts-notifications/ticketing/mapping.md
  cloud/alerts-notifications/ticketing/smarty_functions.md
  cloud/alerts-notifications/ticketing/smarty_variables.md
  cloud/alerts-notifications/ticketing/ticketing-body.md
  cloud/assets/alerts/ticketing/open_ticket_architecture.png
  cloud/assets/alerts/ticketing/open_tickets_list_relations.png
  cloud/sidebarsCloud.js
  i18n/fr/docusaurus-plugin-content-docs-cloud/current.json
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/ticketing-overview.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/ticketing-use.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/ticketing.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/ticketing/architecture.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/ticketing/glossary.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/ticketing/mapping.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/ticketing/smarty_functions.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/ticketing/smarty_variables.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/ticketing/ticketing-body.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/ticketing/open_ticket_architecture.png
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/assets/alerts/ticketing/open_tickets_list_relations.png
Labels: cloud

#4178 doc(release) modification web 24.04.11
  i18n/fr/docusaurus-plugin-content-docs/version-24.04/releases/centreon-os.mdx
  versioned_docs/version-24.04/releases/centreon-os.mdx
Labels: release-notes

#4126 doc(release) Release notes oss 24.10
  i18n/fr/docusaurus-plugin-content-docs/version-24.10/releases/centreon-os.mdx
  versioned_docs/version-24.10/releases/centreon-os.mdx
Labels: release-notes

#4189 doc(release) Release notes modules 24.04
  i18n/fr/docusaurus-plugin-content-docs/version-24.04/releases/centreon-commercial-extensions.mdx
  versioned_docs/version-24.04/releases/centreon-commercial-extensions.mdx
Labels: release-notes

#4191 doc(release) Release notes collect gorgone 24.10
  i18n/fr/docusaurus-plugin-content-docs/version-24.10/releases/centreon-os.mdx
  versioned_docs/version-24.10/releases/centreon-os.mdx
Labels: release-notes

#4216 doc(release) added missing RN 2410 collect
  i18n/fr/docusaurus-plugin-content-docs/version-24.10/releases/centreon-os.mdx
  versioned_docs/version-24.10/releases/centreon-os.mdx
Labels: release-notes

#4162 Known issues for Cloud 25.01
  cloud/resources/known-issues.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/resources/known-issues.md
Labels: cloud

#4118 doc(release) Release notes Cloud 25.01
  cloud/releases/cloud-release-notes.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/releases/cloud-release-notes.md
Labels: cloud, release-notes

#4060 Rename Edit filters to Manage filters (Cloud 25.01)
  cloud/alerts-notifications/resources-status.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/resources-status.md
Labels: cloud

#4164 Document favorites in Dashboard - Cloud
  cloud/alerts-notifications/dashboards.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/dashboards.md
Labels: cloud

#4034 Event handler for Cloud
  cloud/monitoring/event-handler.md
  cloud/sidebarsCloud.js
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/monitoring/event-handler.md
Labels: cloud

#4074 Acknowledgement options (Cloud 25.01)
  cloud/alerts-notifications/acknowledge.md
  i18n/fr/docusaurus-plugin-content-docs-cloud/current/alerts-notifications/acknowledge.md
Labels: cloud

#4017 doc(applications-antivirus-skyhigh-webgateway-snmp): Detections OIDs are not natives CTOR-1327
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/applications-antivirus-skyhigh-webgateway-snmp.md
  pp/integrations/plugin-packs/procedures/applications-antivirus-skyhigh-webgateway-snmp.md
Labels: area/connectors

#3984 [CTOR-1284]-Refresh hardware-storage-exagrid-snmp doc page
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-exagrid-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-storage-exagrid-snmp.md
Labels: area/connectors

#3982 [CTOR-1282]-Refresh hardware-storage-emc-vplex-restapi doc page
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-emc-vplex-restapi.md
  pp/integrations/plugin-packs/procedures/hardware-storage-emc-vplex-restapi.md
Labels: area/connectors

#3983 [CTOR-1283]-Refresh hardware-storage-emc-xtremio-restapi doc page
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-emc-xtremio-restapi.md
  pp/integrations/plugin-packs/procedures/hardware-storage-emc-xtremio-restapi.md
Labels: area/connectors

#3987 [CTOR-1287]-Refresh hardware-storage-hp-eva-cli doc page
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-hp-eva-cli.md
  pp/integrations/plugin-packs/procedures/hardware-storage-hp-eva-cli.md
Labels: area/connectors

#3986 [CTOR-1286]-Refresh hardware-storage-hitachi-hcp-snmp doc page
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/hardware-storage-hitachi-hcp-snmp.md
  pp/integrations/plugin-packs/procedures/hardware-storage-hitachi-hcp-snmp.md
Labels: area/connectors

#4039 doc(network-huawei-wlc-snmp): Quick fix
  i18n/fr/docusaurus-plugin-content-docs-pp/current/integrations/plugin-packs/procedures/network-huawei-wlc-snmp.md
  pp/integrations/plugin-packs/procedures/network-huawei-wlc-snmp.md
Labels: area/connectors

#4246 doc(release) Release notes web 24.04.12
  i18n/fr/docusaurus-plugin-content-docs/version-24.04/releases/centreon-os.mdx
  versioned_docs/version-24.04/releases/centreon-os.mdx
Labels: release-notes

#4247 doc(release) release notes oss 23.10
  i18n/fr/docusaurus-plugin-content-docs/version-23.10/releases/centreon-os.mdx
  versioned_docs/version-23.10/releases/centreon-os.mdx
Labels: release-notes

#4248 doc(release) Release notes OSS 23.04
  i18n/fr/docusaurus-plugin-content-docs/version-23.04/releases/centreon-os.mdx
  versioned_docs/version-23.04/releases/centreon-os.mdx
Labels: release-notes
